<div class="post">
    <span class="title">{{title}}</span>
    <div class="body">
    </div>
    <div class="sub">
        <span class="author"></span> | 
        <span class="date"><a href="{{url}}">{{date}}</a></span>
    </div>
    <hr/>
</div>